<section id="team">
  <div class="fullwidth-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="weight-300 " style="margin-bottom: 30px">
            <strong class="color-primary">Medell&iacute;nJS</strong>
          </h1>
          <p>
            Somos una comunidad de <strong>apasionados</strong> cuyo fin es el de fortalecer y articular el ecosistema
            tecnol&oacute;gico de la ciudad de <strong>Medell&iacute;n, Colombia.</strong>
          </p>
          <p>
            Cada mes nos reunimos en las instalaciones de <a href="http://rutanmedellin.org">Ruta N</a> y realizamos
            dos charlas o conferencias relacionadas con <strong>JavaScript</strong>.
          </p>
          <p>
            Todo el contenido del grupo es propuesto por los miembros de la comunidad, si tienes alguna charla, conferencia
            o experiencia que quieras compartir puedes enviar la propuesta en el siguiente formulario: <a href="https://bit.ly/medjs">https://bit.ly/medjs</a>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="weight-300" style="margin-bottom: 60px">
            Equipo <strong class="color-primary">organizador</strong>
          </h1>
        </div>
      </div>
     
      <div class="row">
        <% var team = public._data.team  %>
        <% var cols = 12 / team.length  %>
        <% for(var i = 0; i < team.length; i++) { %>
          <% var username = team[i] %>
          <% var member = public.posts._data.authors[username] %>

            <div class="col-md-<%= cols %>">
              <img alt="team image" class="img-responsive" src="<%= member.avatar %>?s=200">
              <div class="team-info text-center">
                <h4><%= member.name %></h4>
                <h6>Co - Organizador</h6>
                <p><%= member.bio %></p>
                <div class="social-icons">
                  <a href="https://github.com/<%= member.github %>" target="_blank"><i class="im-github"></i></a>
                  <a href="https://twitter.com/<%= member.twitter %>" target="_blank"><i class="im-twitter"></i></a>
                </div>
              </div>
            </div>
        <% } %>
      </div>
    </div>
  </div>
</section>
