<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%- title %></title>
    <link><%- url %></link>
    <description><%- description %></description>
    <atom:link href="<%- url %>/feed.xml" rel="self" type="application/rss+xml" />
    <% for(slug in public.posts._data.posts) { %>
        <% var post = public.posts._data.posts[slug] %>
        <item>
        <title><%- post.title %></title>
        <description><![CDATA[<%- partial("posts/" + slug) %>]]></description>
        <pubDate><%- post.date %></pubDate>
        <link><%- url %>/posts/<%- slug %></link>
        <guid isPermaLink="true"><%- url %>/posts/<%- slug %></guid>
      </item>
    <% } %>
  </channel>
</rss>
