<!--Banner -->
<section>
  <div class="parallax" data-stellar-background-ratio="0.3" data-stellar-vertical-offset="0" style="background-image: url(img/banner.jpg); height: 300px">
    <div class="img-overlay1"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right" style="margin-top: 90px; z-index: 20">
            <img src="img/logo.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Eventos  -->
<% var events = public._data.events  %>
<% var cols = 12 / events.length %>
<section id="eventos">
  <div class="fullwidth-section bg-secondary-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="color-white weight-300">Pr&oacute;ximos <strong class="color-primary">eventos</strong></h1>
        </div>
      </div>
      <% if (events.length == 0) { %>
        <div class="row">
          <div class="col-md-12">
            <h3 class="color-white">
              No hay eventos programados, para m&aacute;s informaci&oacute;n visita <a href="http://www.meetup.com/medellinjs" class="color-secondary">Meetup.com/MedellinJS</a>
            </h3>
          </div>
        </div>
      <% } %>
      <% for(var i = 0; i < events.length; i++) { %>
        <% var event = events[i] %>
        <div class="row">
          <div class="col-md-<%= cols %>">
            <div class="blog-wrapper">
              <h3><a href="<%= event.link %>" target="_blank"><%= event.title %></a></h3>
              <i class="fa fa-clock-o"></i> <%= event.date %>
               -  
               <i class="fa fa-map-marker"></i> <%= event.venue.name %> - <%= event.venue.address %>
              <span class="pull-right">
                <i class="fa fa-users"></i> <strong><%= event.attending %> usuarios confirmados
              </strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-<%= cols %>">
            <a href="<%= event.link %>" data-event="<% event.id %>" class="mu-rsvp-btn">RSVP</a>
            <a class="btn btn-primary btn-3d pull-right" href="<%= event.link %>">
              Ver m&aacute;s informaci&oacute;n
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Articulos -->
<% function excerpt(content) { %>
  <% return content.split('<!-- more -->')[0]; %>
<% } %>

<% function slice(object, items) { %>
  <% var count = 0; %>
  <% var sliced = {}; %>
  <% for (var o in object) { %>
    <% sliced[o] = object[o]; %>
    <% if (count == items) { %>
      <% break; %>
    <% } %>
    <% count++ %>
  <% } %>
  <% return sliced; %>
<% } %>

<section id="articulos">
  <div class="fullwidth-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="weight-300" style="margin-bottom: 40px;">
            &Uacute;ltimos <strong class="color-primary">art&iacute;culos</strong>
          </h1>
        </div>
      </div>
      <% var posts = slice(public.posts._data.posts, 3); %>
      <% for(var slug in posts) {  %>
        <% var post = posts[slug]; %>
        <% var author = public.posts._data.authors[post.author]; %>
        <div class="row">
          <div class="col-md-4">
            <div class="blog-wrapper">
              <h3>
                <a href="<%= url %>/posts/<%= slug %>"><%= post.title %></a>
              </h3>
              <div>
                <%- excerpt(partial("posts/" + slug)) %>
              </div>
              <div class="blog-info">
                <i class="fa fa-clock-o"></i> <%= post.date %>
                <i class="im-user"></i>
                <a href="https://github.com/<%= author.github %>" target="_blank">
                  <%= author.name %>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      <% if (Object.keys(public.posts._data.posts) > 3) { %>
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-primary btn-3d pull-right" href="<%= url %>/posts">
              Ver m&aacute;s art&iacute;culos
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>
