<!DOCTYPE html><!--[if lt IE 7 ]>
<html class="ie ie6" lang="en">

<![endif]--><!--[if IE 7 ]>
<html class="ie ie7" lang="en">

<![endif]--><!--[if IE 8 ]>
<html class="ie ie8" lang="en">

<![endif]--><!--[if (gte IE 9)|!(IE)]>
<!-->
<html lang="es_CO">

<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <title><%= title %></title>
  <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/icomoon.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/haze-buttons.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/menu.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/prism.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/haze.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="alternate" type="application/rss+xml"  href="/feed.xml" title="<%= title %>">
</head>

<body>

  <%- partial("../_header") %>
  <% var post = public.posts._data.posts[current.source] %>
  <% post.yield = partial(current.source) %>

  <%- partial('_decorator', post) %>

  <%- partial("../_footer") %>

  <script src="/js/jquery-1.11.0.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/smooth-scroll.js" type="text/javascript"></script>
  <script src="/js/prism.js" type="text/javascript"></script>
  <script src="/js/jquery.cre-animate.min.js" type="text/javascript"></script>    
  <script src="/js/custom.js" type="text/javascript"></script>
  <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>\
  </div>
</body>

</html>