<!-- Articulos -->
<% function excerpt(content) { %>
  <% return content.split('<!-- more -->')[0]; %>
<% } %>

<section id="articulos">
  <div class="fullwidth-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="weight-300" style="margin-bottom: 40px;">
            &Uacute;ltimos <strong class="color-primary">art&iacute;culos</strong>
            <a href="<%= url %>/feed.xml"><i class="fa fa-rss"></i></a>
          </h1>
        </div>
      </div>
      <% var animateclass= 'slide-in-from-right' %> 
      <% var posts = public.posts._data.posts; %>
      <% for(var slug in posts) {  %>
        <% var post = posts[slug]; %>
        <% var author = public.posts._data.authors[post.author]; %>      
        <% if(animateclass=='slide-in-from-right'){
            animateclass='slide-in-from-left';
        } 
        else{
           animateclass="slide-in-from-right";
        } 
        %>
        <div class="row blog-wrapper cre-animate" data-animation="<%= animateclass %>" data-delay="0" data-easing="easeInOutBack" data-offset="80%" data-speed="1000">
          <div class="col-md-2">
             <a href="https://github.com/<%= author.github %>" target="_blank">
                <img src="<%= author.avatar %>?s=200" alt="<%= author.name %>" class="img-circle" style="max-width:98%;" />
             </a>
          </div>    
          <div class="col-md-10">
            <div>
              <h3>
                <a href="<%= url %>/posts/<%= slug %>"><%= post.title %></a>
              </h3>
              <div>
                <%- excerpt(partial(slug)) %>
              </div>
              <div class="blog-info" style="margin-bottom: 15px">
                <i class="fa fa-clock-o"></i> <%= post.date %>
                <i class="im-user"></i>
                <a href="https://github.com/<%= author.github %>" target="_blank">
                  <%= author.name %>
                </a>
                <a class="btn btn-primary btn-3d pull-right" href="<%= url %>/posts/<%= slug %>">
                  Leer m&aacute;s
                </a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>
